In [3]:
import pandas as pd

# Data

In [4]:
data = [
        (0, 0, 1, 0, 0),
        (1, 0, 0, 1, 1),
        (2, 0, 1, 0, 1),
        (0, 1, 0, 0, 1),
        (0, 1, 1, 0, 1),
        (0, 1, 1, 1, 0),
        (1, 0, 0, 1, 0),
        (2, 0, 0, 0, 1),
        (2, 1, 1, 0, 1),
        (0, 1, 1, 1, 0)
    ]

# Creating DataFrame with specified column names
df = pd.DataFrame(data, columns=['Q1', 'Q2', 'Q3', 'Q4', 'S'])

In [5]:
df

   Q1  Q2  Q3  Q4  S
0   0   0   1   0  0
1   1   0   0   1  1
2   2   0   1   0  1
3   0   1   0   0  1
4   0   1   1   0  1
5   0   1   1   1  0
6   1   0   0   1  0
7   2   0   0   0  1
8   2   1   1   0  1
9   0   1   1   1  0

# One Rule classifier

### Imports

In [11]:
from algorithms.ml.classifiers.OneRuleClassifier import OneRuleClassifier

### Data preparation

In [12]:
X = df.drop(["S"], axis=1)
y = df["S"]

### Modeling

In [20]:
model = OneRuleClassifier()
model.fit(X, y)

### Inference

In [21]:
X_inf = pd.DataFrame([(2, 1, 1, 1)],columns=['Q1', 'Q2', 'Q3', 'Q4'])
y_pred = model.predict(X_inf)

In [22]:
df_result = X_inf.copy()
df_result["prediction"] = y_pred
df_result

   Q1  Q2  Q3  Q4 prediction
0   2   1   1   1          0

# Naive Bayes classifier

### Imports

In [4]:
from algorithms.ml.classifiers.NaiveBayesClassifier import NaiveBayesClassifier

### Data preparation

In [5]:
X = df.drop(["S"], axis=1)
y = df["S"]

### Modeling

In [6]:
model = NaiveBayesClassifier()
model.fit(X, y)

### Inference

In [7]:
X_inf = pd.DataFrame([(2, 1, 1, 1)],columns=['Q1', 'Q2', 'Q3', 'Q4'])
y_pred = model.predict(X_inf)

In [42]:
df_result = X_inf.copy()
df_result["prediction"] = y_pred
df_result

   Q1  Q2  Q3  Q4  prediction
0   2   1   1   1           1

# Decision Tree classifier

### Imports

In [9]:
from algorithms.ml.classifiers.DecisionTreeClassifier import DecisionTreeClassifier

### Data preparation

In [7]:
X = df.drop(["S"], axis=1)
y = df["S"]

### Modeling

In [10]:
model = DecisionTreeClassifier(logging=True)
model.fit(X, y)

[LOG] DecisionTreeClassifier: fit(): Start fit...
[LOG] DecisionTreeClassifier: _build_tree(): Split feature:Q1 | IG:0.2854752967945259
[LOG] DecisionTreeClassifier: _build_tree(): Split feature:Q4 | IG:0.41997309344489697
[LOG] DecisionTreeClassifier: _build_tree(): Split feature:Q2 | IG:0.9182958326117947
[LOG] DecisionTreeClassifier: fit(): Finish fit.

### Inference

In [11]:
X_inf = pd.DataFrame([(2, 1, 1, 1)],columns=['Q1', 'Q2', 'Q3', 'Q4'])
y_pred = model.predict(X_inf)

In [12]:
df_result = X_inf.copy()
df_result["prediction"] = y_pred
print(df_result)

   Q1  Q2  Q3  Q4  prediction
0   2   1   1   1           1

# KNN

### Imports

In [6]:
from algorithms.ml.classifiers.KNNClassifier import KNNClassifier

### Data preparation

In [7]:
X = df.drop(["S"], axis=1)
y = df["S"]

### Modeling

In [8]:
model = KNNClassifier(k=3)
model.fit(X, y)

### Inference

In [9]:
X_inf = pd.DataFrame([(2, 1, 1, 1)],columns=['Q1', 'Q2', 'Q3', 'Q4'])
y_pred = model.predict(X_inf)

In [10]:
df_result = X_inf.copy()
df_result["prediction"] = y_pred
print(df_result)

   Q1  Q2  Q3  Q4  prediction
0   2   1   1   1           1